<html>
  <body style="background-color:rgb(66, 190, 194)">
    <h1><center>Welcome!</center><h1>
  <ul>
    <% @bookmarks.each do |bookmark| %>
      <li><%= bookmark %></li>
    <% end %>
  </ul>
  <form action="/add-bookmark" method="post">
    <label for="bookmark">
    Add New Bookmark
    <input type="text" name="bookmark">
    <input type="submit" value="Submit">
  </form>
  </body>
</html>

