<html>
  <body style="background-color:rgb(66, 190, 194)">
    <h1><center>Welcome!</center><h1>
  <ul>
    <% @bookmarks.each do |bookmark| %>
      <li><%= bookmark %></li>
    <% end %>
  </ul>
  </body>
</html>

